@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.ttf');
  src: local('?'), url('../fonts/RobotoSlab-Regular.ttf') format('woff'), url('../fonts/RobotoSlab-Regular.ttf') format('truetype'), url('../fonts/RobotoSlab-Regular.ttf#webfontzqb2Knxj') format('svg');
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../fonts/RobotoSlab-Bold.ttf');
  src: local('?'), url('../fonts/RobotoSlab-Bold.ttf') format('woff'), url('../fonts/RobotoSlab-Bold.ttf') format('truetype'), url('../fonts/RobotoSlab-Bold.ttf#webfontzqb2Knxj') format('svg');
}
@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('../fonts/RobotoSlab-Light.ttf');
  src: local('?'), url('../fonts/RobotoSlab-Light.ttf') format('woff'), url('../fonts/RobotoSlab-Light.ttf') format('truetype'), url('../fonts/RobotoSlab-Light.ttf#webfontzqb2Knxj') format('svg');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/RobotoSlab-Regular.ttf');
  src: local('?'), url('../fonts/Roboto-Regular.ttf') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.ttf#webfontzqb2Knxj') format('svg');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto-bold.ttf');
  src: local('?'), url('../fonts/roboto-bold.ttf') format('woff'), url('../fonts/roboto-bold.ttf') format('truetype'), url('../fonts/roboto-bold.ttf#webfontzqb2Knxj') format('svg');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/RobotoSlab-Light.ttf');
  src: local('?'), url('../fonts/roboto-light.ttf') format('woff'), url('../fonts/roboto-light.ttf') format('truetype'), url('../fonts/roboto-light.ttf#webfontzqb2Knxj') format('svg');
}
@font-face {
  font-family: 'Caveat-Brush';
  src: url('../fonts/caveat-brush.ttf');
  src: local('?'), url('../fonts/caveat-brush.ttf') format('woff'), url('../fonts/caveat-brush.ttf') format('truetype'), url('../fonts/caveat-brush.ttf#webfontzqb2Knxj') format('svg');
}
.product-img-box__wrap{
  display: flex;
  flex-direction: row-reverse;
//  margin-left: 46px;
//  margin-top: 11px;
  margin-right: 50px;
  margin-right: 3.8vw;
}
.product-image-thumbs{
  display: flex;
  flex-direction: column;
  margin-right: 4.3vw;
}
.product-image{
  border: none;
}
.product-img-box .product-image{
  width: 316px;
}
.product-view .product-shop .product-name .h1{
  color:black;
  font-family:'RobotoSlab-Regular';
  font-size: 22px;
  text-transform: none;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.product-view .product-shop, .product-view .add-to-cart-wrapper, .additional__wrap{
  padding-left: 5.5vw;
}
.product-name-price-info__wrap{
  display: flex;
  flex-direction: column;
}
.price-box{
  text-align: left;
}
.product-view .product-shop .price-box .regular-price .price{
  color:#000000;
  font-family:'RobotoSlab-Bold';
  font-size: 24px;

}
.product-view .product-shop .price-info{
  padding-left: 0;
}
.availability .label{
  display: inline;
  font-family:'Roboto-Bold';
}
.availability.in-stock {
  color: #000000;
  text-transform: none;
  font-size: 14px;
  font-family:'Roboto-Regular';
}
.product-view .add-to-cart-buttons {
  width: 380px;
}
.add-to-links a, .product-view .add-to-cart-buttons .button{
  font-size: 16px;
  font-family:'Roboto-Light';
  text-transform: none;
}
  .product-view .add-to-cart-buttons .button{
  background-color: rgb( 101, 182, 151 );
  border-radius: 5px;
  color: rgb( 255, 255, 255 );
  height: 51px;
}
.fa__button-byu{
  font-size: 12px;
  padding-left: 10px;
}
.wishlist__button{
  border: 1px solid #000000;
  border-radius: 5px;
  width: 380px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-wishlist{
  font-size: 12px;
  margin-right: 10px;
}
.add-to-links a{
  color:#000000;
}
.product-view .add-to-cart{
  border: none;
}
.additional__wrap{
  display: flex;
  flex-direction: column;
}
.additional{
  .label{
    font-family:'Roboto-Bold';
    font-size: 14px;
  }
  .data{
    font-family:'Roboto-Regular';
    font-size: 14px;
  }
}
.view-category-label{
  font-family:'Roboto-Bold';
  font-size: 14px;
}
.view-category-name{
  font-family:'Roboto-Regular';
  font-size: 14px;
}
.product-view .block-related {
  width: 100%;
  float: none;
  clear: none;
}
.mini-products-list{
  display: flex;
  justify-content: row;
}
.block-related .product {
  margin-left: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.block-related .product-details {
  margin-left: 0px;
}
.block-related .product-details .price-box {
  display: flex;
  justify-content: center;
}
.block-related .block-title h2{
  color: #000000;
  font-family: 'Caveat-Brush';
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.block-content {
  display: flex;
  justify-content: center;
  position: relative;
}
.mini-products-list{
//  width: 90%;
}
.owl-carousel .owl-item img{

}

.block-content:after{
  content: " ";
  display: block;
  position: absolute;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.57) 12%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 72%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 12%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 72%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 12%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  z-index: 100;
  height: 100%;
  width: 13%;
  right: 0;
}
.block-related .block-title{
  display: flex;
}
.related-arrow{
  width: 38px;
  height: 30px;
  background: url("../images/sprite.png") no-repeat 0 10px;
}
.product-view .product-shop .short-description{
  position: relative;
}
.short-description .std{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.short-description__link{
  position: absolute;
  top: 42px;
  left: 114px;
}
.global-site-notice{
  display: none;
}
.header-language-background {
  padding: 0;
  background-color: #65b697;
  text-transform: none;
  height: 60px;
  .logo{
    padding: 0;
  }
}
.header-language-background .header-language-container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.welcome-msg__wrap{
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.account-cart-wrapper{
  position: inherit;
.product-info .add-to-links{
  display: none;
}
.products-grid .price-box{
  text-align: center;
}
.products-grid .actions{
  .button{
    display: none;
  }
}
}
.header-language-background .header-wishlist-ico{
  color:white;
  font-size: 25px;
  text-decoration: none;

}
a.skip-link{
  background-color: inherit;
  background: url("../images/sprite.png") no-repeat 0 -58px;
  width: 30px;
  margin: 0px 25px;
}
.header-language-background .welcome-msg{
  color: #ffffff;
  font-family: 'Caveat-Brush';
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.header-wishlist-count{
  position: relative;
}
.header-wishlist-ellips{
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  border-radius: 10px;
  background-color: red;
  color: #ffffff;
  top: -8px;
  right: -15px;
  text-align: center;
}
.logo-links__wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.header-mylink__wrap{
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  .header-mylink{
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-family: "Roboto-Light";
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
  }
  .active{
    font-family: "Roboto-Bold";
    position: relative;
  }
  .active:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #ffffff;
    position: absolute;
    bottom: 0;
    left: 35px;
  }

}

.page-header{
  height: 146px;
  background-color: rgb(241,241,241);
}
.page-header-container{
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-start;
}
.header__text-banner{
  p{
    font-family: "RobotoSlab-Bold";
    font-size: 18px;
    color: #000000;
    span{
      color: red;
    }
  }
}
.topmenu__button{
  border-radius: 10px;
  background-color: rgb( 104, 104, 104 );
  left: 400px;
  width: 184px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  .topmenu__button-text{
    color:#ffffff;
    font-family: "Roboto-Regular";
    font-size: 16px;
  }
}
.topmenu__nav{
  display: none;

  flex-direction: column;
  background-color: ghostwhite;
  li.level0 ul.level0{
    left: 155px;
    top:0;
  }
}
.topmenu__button:focus ~ .topmenu__nav,
.topmenu__button:active ~ .topmenu__nav,
.topmenu__nav:hover
{
  display: flex;
  position: absolute;
  z-index: 100;
}
.header-nav-search__wrap{
  display: flex;
}
.search-autocomplete:before{
  display: none;
}
.header-nav-search__of{
  margin-left: 20px;
  display: flex;
  align-items: center;
  p{
    font-family: "Roboto-Regular";
    font-size: 16px;
  }
}
#search_mini_form .input-box{
  width: 711px;
  display: flex;
  align-items: center;
  .input-text{
    border-radius: 10px;
    height: 51px;

  }
}
input[type="search"]::-webkit-input-placeholder{
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.search-close-icon{
  position: absolute;
  right: 140px;
  width: 50px;
  height: 100%;
  background: none;
  border: none;
  background: url("../images/sprite.png") no-repeat 12px -106px;
}
#search_mini_form .search-button {
  text-indent: 0px;
  color:#000000;
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 100%;
  background-color: rgb(101,182,151);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  span{
    font-family: "Roboto-Bold";
    font-size: 16px;
    color:white;
    text-transform: none;
    i{
      padding-left: 5px;
      font-size: 16px;
    }
  }
}
#search_mini_form .search-button:before{
  display: none;
}


//----------media--------------

@media only screen and (min-width: 771px){
  .logo {
    max-width: 300px;
    min-height: 60px;
  }
  .page-header {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }
  .page-header-container {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
  }
  #header-search {
    position: inherit;
    top: 55px;
    right: 0;
    width: 60%;
    height: 50px;
    padding: 0;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}